<header id="header">
  <h1><%= @list.name %></h1>

  <%= form_for([@list, @question]) do |f| %>
    <%= f.hidden_field :list_id, :value => @list.id %>

    <%= f.text_field :content, :id => "new-todo", :placeholder => "Add an question to your list", :autofocus => true %>
  <% end %>

</header>

<section id="main">
  <ul id="todo-list" data-list-id="<%= @list.id %>" class="list">
    <%= render @questions %>
  </ul>
</section>

<footer id="footer">

</footer>