<% if @user.registered? %>
  <% if @user.student? %>
    <% path = student_path(@user) %>
  <% else %>
    <% path = mentor_path(@user) %>
  <% end %>
<% else %>
  <% path = root_path %>
<% end %>

<%= form_for(@user, url: path) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.radio_button :role, "Student"%>
    <%= f.label :role, "Student", :value => 'Student' %>
  </div>

  <div class="field">
    <%= f.radio_button :role, "Mentor"%>
    <%= f.label :role, "Mentor", :value => 'Mentor' %><br><br>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br><br>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br><br>
  </div>

  <div>
    <% f.label :avatar, "Picture Upload" %>
    <%= f.file_field :avatar %>
  </div><br>

  <div class="field" id="contact-info">
    <%= f.label :email %>
    <%= f.text_field :email %><br><br>
  </div>

  <% if !@user.registered? %>
    <div class="field" id="password">
      <%= f.label :password %>
      <%= f.password_field :password %><br><br>
      <%= f.label :password, "Password Confirmation"%>
      <%= f.password_field :password %><br><br>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %><br><br>
  </div>

<%#= time_zone_select(:person, :time_zone) %>

  <div class="field">
    <%= f.label :industry %><br>
    <%= f.collection_check_boxes :industry_ids, Industry.all, :id, :name %><br><br>
  </div>

  <div class="field">
    <%= f.label :language %><br>
    <%= f.collection_check_boxes :language_ids, Language.all, :id, :name %><br><br>
  </div>

  <div class="field">
    <%= f.label :birthday %>
    <%= f.date_field :birthday %><br><br>
  </div>

  <div class="field">
    <%= f.radio_button :gender, "male"%>
    <%= f.label :gender, "Male", :value => 'male' %>
    <%= f.radio_button :gender, "female"%>
    <%= f.label :gender, "Female", :value => 'female' %><br><br>
  </div>

  <div class="field">
    <%= f.label :employment_status %>
    <%= f.text_field :employment_status %><br><br>
  </div>

  <div class="field">
    <%= f.label :education_level %>
    <%= f.text_field :education_level %><br><br>
  </div>

  <div class="field">
    <%= f.label :linkedin_url %>
    <%= f.text_field :linkedin_url %><br><br>
  </div>

  <div class="field">
    <% if @user.registered? %>
      <%= f.submit "Save Changes" %>
    <% else %>
      <%= f.submit "Give me my match!" %>
    <% end %>
  </div>

<% end %>

