<% if flash[:notice] %>
 <div class="notice"><%= flash[:notice] %> </div>
<% end %>

<h1 class="user-name"><%="#{@user.first_name} #{@user.last_name}"%></h1>

<p class="user-attribute"><%= @user.picture %></p>
<p class="user-attribute"><%= @user.gender %></p>
<p class="user-attribute"><%= @user.birthday %></p>
<p class="user-attribute"><%= @user.location %></p>
<p class="user-attribute"><%= @user.employment_status %></p>
<p class="user-attribute"><%= @user.bio %></p>
<p class="user-attribute"><%= @user.role %></p>
<p class="user-attribute"><%= @user.education_level %></p>
<p class="user-attribute"><%= @user.linkedin_url %></p>
<p class="user-attribute"><% @user.industries.each { |industry| industry.name } %></p>


<%= render 'matches' %>

