<% if flash[:notice] %>
 <div class="notice"><%= flash[:notice] %> </div>
<% end %>

<h1 class="user-name"><%="#{@user.first_name} #{@user.last_name}"%></h1>

<% if logged_in? %>

  <% if current_user.has_match? %>
    <% if current_user.match == @user || (current_user.mentor? && current_user.match.include?(@user)) %>
        <p class="contact-match"><strong>Feel free to contact your <%= @user.user_type %>, <%= @user.first_name %><%=@user.last_name%> at <%= @user.email %></strong></p>
    <% end %>
  <% end %>
<% end %>

<div class="profile-picture">
  <p><%= image_tag @user.avatar.url %>
    <%#= image_tag @user.avatar.url(:medium) %>
    <%#= image_tag @user.avatar.url(:thumb) %>
  </p>
</div>

<div class="user-attributes">
  <p><strong>Gender:</strong> <%= @user.gender %></p>
  <p><strong>Birthday:</strong> <%= @user.birthday %></p>
  <p><strong>City:</strong> <%= @user.location %></p>
  <p><strong>Employment Status:</strong> <%= @user.employment_status %></p>
  <p><strong>Bio:</strong><br></br> <%= @user.bio %></p>
  <p><strong>Role:</strong> <%= @user.role %> </p>
  <p><strong>Education Level:</strong> <%= @user.education_level %></p>
  <p>
    <strong>LinkedIn Profile:</strong>
    <a href="http://www.<%= @user.linkedin_url %>" target="_blank"> <%= @user.linkedin_url %> </a>
    <!-- How can we use an action view helper to link to an external site? -->
  </p>

  <p class="user-attribute"><strong>Industries I'm Interested:</strong></br>
    <% @user.industries.each do |industry| %>
      <%= industry.name %>  |
    <% end %>
  </p>

  <p class="user-attribute"><strong>Languages I Speak:</strong></br>
    <% @user.languages.each do |language| %>
      <%= language.name %>
    <% end %>
  </p>
</div>

<%= render 'matches' if authorized?%>

<% if authorized? %>
  <% if @user.mentor? %>
    <%= link_to "Edit", mentor_edit_path(@user) %>
  <% else %>
    <%= link_to "Edit", student_edit_path(@user)   %>
  <% end %>
<% end %>