<%= form_for(@mentor) do |f| %>
 <% if @mentor.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@mentor.errors.count, "error") %> prohibited this mentor from being saved:</h2>

     <ul>
     <% @mentor.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

 <div class="field">
   <%= f.label :first_name %><br>
   <%= f.text_field :first_name %><br>
   <%= f.label :last_name %><br>
   <%= f.text_field :last_name %><br>

    <%= f.label :location %><br>
   <%= f.text_field :location %><br>
    <%= f.label :birthday %><br>
   <%= f.text_field :birthday %><br>
    <%= f.label :gender %><br>
   <%= f.text_field :gender %><br>
    <%= f.label :employment_status %><br>
   <%= f.text_field :employment_status %><br>
 </div>





 <div class="actions">
   <%= f.submit %>
 </div>

<% end %>
