<h1><%="#{@mentor.first_name} #{@mentor.last_name}"%></h1>

<%= @mentor.picture %></br>
<%= @mentor.gender %></br>
<%= @mentor.birthday %></br>
<%= @mentor.location %></br>
<%= @mentor.employment_status %></br>
<%= @mentor.bio %></br>

<%= link_to 'Edit', "#{@mentor.id}/edit" %> |
